---
import CaseStudiesConfidentialitySection from '../../components/sled/case-studies/CaseStudiesConfidentialitySection.astro';
import CaseStudiesCtaSection from '../../components/sled/case-studies/CaseStudiesCtaSection.astro';
import CaseStudiesEngagementsSection from '../../components/sled/case-studies/CaseStudiesEngagementsSection.astro';
import CaseStudiesTrustStrip from '../../components/sled/case-studies/CaseStudiesTrustStrip.astro';
import SledInnerHero from '../../components/sled/shared/SledInnerHero.astro';
import SledLayout from '../../layouts/SledLayout.astro';
import { CASE_STUDIES_HERO, CASE_STUDIES_SEO } from '../../lib/constants/pages/case-studies';
import '../../styles/sled.css';

const { title, description, canonicalPath, ogImage } = CASE_STUDIES_SEO;
---

<SledLayout {title} {description} {canonicalPath} {ogImage} currentPage="/us-sled/case-studies/">
  <div class="sled-case-studies-page">
    <SledInnerHero
      eyebrow={CASE_STUDIES_HERO.eyebrow}
      heading={CASE_STUDIES_HERO.heading}
      body={CASE_STUDIES_HERO.body}
    />
    <CaseStudiesTrustStrip />
    <CaseStudiesEngagementsSection />
    <CaseStudiesConfidentialitySection />
    <CaseStudiesCtaSection />
  </div>
  <script src="/scripts/sled-hub.js" is:inline></script>
</SledLayout>
