---
import ContactIntakeSection from '../../components/sled/contact/ContactIntakeSection.astro';
import SledFaqSection from '../../components/sled/shared/SledFaqSection.astro';
import SledLayout from '../../layouts/SledLayout.astro';
import { CONTACT_SEO } from '../../lib/constants/pages/contact';
import { CONTACT_FAQ } from '../../lib/constants/pages/sled-faq';
import '../../styles/sled.css';

const { title, description, canonicalPath, ogImage } = CONTACT_SEO;
---

<SledLayout {title} {description} {canonicalPath} {ogImage} currentPage="/us-sled/contact/">
  <div class="sled-contact-page">
    <!-- <ContactSlaStrip /> -->
    <ContactIntakeSection />
    <SledFaqSection {...CONTACT_FAQ} canonicalPath={canonicalPath} />
  </div>
  <script src="/scripts/sled-hub.js" is:inline></script>
</SledLayout>
