---
import '../../styles/sled.css';
import HowWeEngageBoundariesSection from '../../components/sled/how-we-engage/HowWeEngageBoundariesSection.astro';
import HowWeEngagePrinciplesSection from '../../components/sled/how-we-engage/HowWeEngagePrinciplesSection.astro';
import HowWeEngageSequenceSection from '../../components/sled/how-we-engage/HowWeEngageSequenceSection.astro';
import HowWeEngageStartSection from '../../components/sled/how-we-engage/HowWeEngageStartSection.astro';
import SledInnerHero from '../../components/sled/shared/SledInnerHero.astro';
import SledLayout from '../../layouts/SledLayout.astro';
import {
  HOW_WE_ENGAGE_SEO,
  HOW_WE_ENGAGE_HERO,
} from '../../lib/constants/pages/how-we-engage';

const { title, description, canonicalPath, ogImage } = HOW_WE_ENGAGE_SEO;
---

<SledLayout {title} {description} {canonicalPath} {ogImage} currentPage="/us-sled/how-we-engage/">
  <div class="sled-engage-page">
    <SledInnerHero
      eyebrow={HOW_WE_ENGAGE_HERO.eyebrow}
      heading={HOW_WE_ENGAGE_HERO.heading}
      body={HOW_WE_ENGAGE_HERO.body}
    />
    <HowWeEngageSequenceSection />
    <HowWeEngageBoundariesSection />
    <HowWeEngagePrinciplesSection />
    <HowWeEngageStartSection />
  </div>
  <script src="/scripts/sled-hub.js" is:inline></script>
</SledLayout>
